.skill-bars {
    width: 100%;
}
.skill-bars .bar{
    margin: 20px 0px;
}

.skill-bars .bar:first-child{
    margin-top: 0px ;
}
.skill-bars .bar .info{
    margin-bottom: 5px;
}
.skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation:showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100%{
        opacity: 1;
    }
}

.skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background-color: var(--gray-color);
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: var(--shadow-inset);
    animation:animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
    100%{
        transform:scaleX(1);
    }
}

.bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--main-color);
    animation: animate 1s 1s cubic-bezier(1,0,0.5 1) forwards;
}

.progress-line span::before{
    position: absolute;
    content: '';
    top:-10px;
    right: 0;
    
}